body {
	background-color: #F4F8FF;
}
h3 {
	text-align: center;
	color: #FF0000;
}

a{
	color:black;
}
a:visited{
	color:black;
}

header{
	width: 100%;
	float:left;
	margin-bottom: 1%;
	background:#3B5998;
}
footer{
	width: 100%;
	height: 100%;
	float:left;
	background:#3B5998;
	margin-top: 1%;
	margin-bottom: 3%;
	border: 1px solid black;
}
#imageLogo{
	float:left;
	margin:1%;
	margin-top: 2%;
	margin-left: 3%;
	width: 10%;
	height: 10%;
}
#nameSocial{
	float :left;
	margin-left:32%;
	margin-top:2%;
	font-size: 200%;
}
#loginPanel{
	float:right;
	margin:1%;
	margin-right:3%;
}
#imageMainSectionLeft{
	width: 100%;
	height: 100%;
	margin-top:15%;
	object-fit: contain;
}
#registerForm{
	width: 100%;
	height: 100%;
	text-align: center;
}
.MainSection{
	float:left;
	width: 49.85%;
	background:#D9E2F6;
	border : 1px solid black;
	min-height: 600px;
	max-height: 600px;
	margin-top: 0%;
}
.MainSection p{
	font-size: 100%;	
	text-align: center;
}

.informationFoot{
	float:left;
	width:20%;
	margin-left: 10%;
}

/*
*
* Perfil.html
*
*/
#ImagePerfil{
	min-width: 75px;
	max-width: 75px;
	min-height: 75px;
	max-height: 75px;
	float:left;
}
#NamePerfil{
	width:100%;
	float:left;
	text-align: left;
	color: black;
	margin-top: 0px;
	margin-bottom: 5%;
}

/*Estilo para nuestro menu horizontal*/
#menuPanel{
	text-align: center;
}
#menuPanel ul{
	background-color:#344A78;
	padding-bottom:1%;
	padding-top:1%;
}
#menuPanel li{
	display:inline;
	text-decoration:none;
}
#menuPanel li a{
	font-size:20px;
	text-decoration:none;
	padding-left:3%;
	padding-right:3%;
	color:white;
}
#menuPanel li a:hover {
	background-color:#2A3753;
	padding-bottom:1%;
	padding-top:1%;
}

/*Panel superior de personas*/
#peoplePanel{
	width: 100%;
	max-height: 200px;
	float:left;
	margin-top: 0%;
	background-color:#D9E2F6;
    overflow-y: scroll;
	overflow-x: hidden;
	border: 1px solid black;
}

.peopleArticle{
	width: 10%;
	background-color: #7095E4;
	float:left;
	margin: 0.5%;  
	border:1px solid black;
}
.peopleArticle p{
	width:100%;
	float:left;
	text-align: left;
	color: black;
	margin-top: 0px;
	margin-bottom: 5%;
}
.peopleArticle img{
	width: 100%;
	min-height: 90px;
	max-height: 90px;
}

/*Sección principal del perfil con dos secciones internas
*	-comentaryPanel
*	-activateUserPanel
*/
#mainPerfilSection{
	width:100%;
	float:left;
	display: flex;
	margin-top: 1%;
}

#comentaryPanel{
	width:84%;
	float:left;
	min-height: 600px;
	align-items: stretch;
	margin-right: 1%;
	border: 1px solid black;
	background-color:#D9E2F6;
}

.comentaryArticle{
	width: 30%;
	background-color: #7095E4;
	float:left;
	margin: 0.9%;  
	margin-left:1.5%;
	margin-top:1.5%;
	border:1px solid black;
	min-height: 200px;
	max-height: 350px;
}

.comentaryArticle img{
	margin-left: 2%;
	width: 30%;
	float :left;
	min-height: 100px;
	max-height: 100px;
}

.comentaryArticle p{
	margin-left: 2%;
	margin-top:2%;
}
.hourP {
	float:left;
	padding-left:3%;
	width:63%;
}
.titleComentary {
	float:left;
	width: 98%;
	background-color: #344A78;
	margin-bottom: 0px;
}
.textComentary {
	float:left;
	width: 96%;
	
}

#cursor{
	float:left;
	width: 70%;
	margin-left: 30%;
	margin-bottom: 2%;
}

#cursor img{
	float:left;
	width: 10%;
	padding-left: 15%;
}

#activateUserPanel{
	width:14.99%;
	float:left;
	overflow-y: scroll;
	overflow-x: hidden;
	align-items: stretch;
	border: 1px solid black;
	background-color:#D9E2F6;	
}

#activateUserPanel article{
	width: 70%;
	background-color: #7095E4;
	float:left;
	margin: 0.5%;  
	margin-left:15%;
	margin-top:5%;
	margin-bottom:3%;
	border:1px solid black;
}
#activateUserPanel p{
	font-size: 100%;
	color: #F00F0F;
	text-align: center;
}

/*
*
*	Entrada.html
*
*/
.entryArticle{
	width:90%;
	float:left;
	margin-left:5%;
	margin-top:3%;
	background-color: #7095E4;
	border:1px solid black;
}
.entryArticle img{
	margin-left: 2%;
	width: 10%;
	float :left;
}

.entryArticle p{
	margin-left: 2%;
	margin-top:2%;
}
.titleEntry{
	width: 100%;
	float:left;
}

.textEntry{
	width: 95%;
	float:left;
}
.imageEntry{
	min-width: 200px;
	float:left;
	padding-bottom: 4%;
}

/*
*
*Css -> comentaries
*
*/
#ComentPanel{
	background-color: #7095E4;
	float:left;
	width: 90%;
	margin-top:2%;
	padding-bottom: 1%;
	margin-left:5%;	
	border: 1px solid black;
}

.UserComent{
	float:left;
	width: 98%;
	background-color: #344A78;
	margin-left: 1%;
	margin-top:1%;
	border:1px solid black;
}

.UserComent img{
	float:left;
	max-height: 100px;
}

.UserComent p{
	float:left;
	width:80%;
	margin-left: 1%;
}
/*
*
*Css -> write panel
*/
#WritePanel{
	float:left;
	background-color: #7095E4;
	width: 90%;
	margin-top:2%;
	margin-left:5%;
	margin-bottom: 2%;
	padding-bottom: 1%;
	border:1px solid black;
}
#WritePanel img{
	float:left;
	background-color: green;
	margin-top:2%;
	margin-left:5%;
	max-width: 100px;
}

#WritePanel p{
	float:left;
	width: 83.5%;
	margin-left: 1%;
	background-color: #344A78;
}

#WritePanel textarea{
	float:left;
	margin-left:1%;
	width: 80%;
	min-height: 75px;
}

#WritePanel form{
	float:left;
	margin-top:2%;
	margin-left: 16%;
}

/*
*
*Css -> write panel perfil
*/
#writePerfilPanel{
	float:left;
	background-color: #7095E4;
	width: 90%;
	margin-top:2%;
	margin-left:5%;
	margin-bottom: 2%;
	padding-bottom: 1%;
	border:1px solid black;
}
#writePerfilPanel img{
	float:left;
	background-color: green;
	margin-left:2%;
	border: 1px solid black;
	max-width: 120px;
}

#writePerfilPanel p{
	float:left;
	width: 98%;
	margin-left:2%;
	background-color: #344A78;
}

#writePerfilPanel textarea{
	float:left;
	margin-top:2%;
	margin-left: 2%;
	width: 80%;
	min-height: 75px;
	background-color: #F4F8FF;
}

#titleWrite{
	float:left;
	width: 80%;
	margin-left: 2%;
	background-color: #F4F8FF;
}

#buttonImage{
	float:left;
	margin-top:1%;
	margin-left: 14%;
}
#buttonSubmit{
	float:right;
	margin-top:1%;
	margin-right: 10%;
}

/*
*
* Sección para el menu de foto
*/

.photoArticle{
	width: 30%;
	background-color: #7095E4;
	float:left;
	margin: 0.9%;  
	margin-left:1.5%;
	margin-top:1.5%;
	border:1px solid black;
	min-height: 200px;
	max-height: 350px;
}

.photoArticle img{
	
	width: 100%;
	float :left;
	min-height: 200px;
	max-height: 350px;
}

.photoArticle p{
	margin-left: 2%;
	margin-top:2%;
}

/*
*
* Sección para la info
*
*/
#ChangeInfo{
	width: 100%;
	height: 100%;
	text-align: center;
	margin-top: 5%;
}

#ChangeInfo img{
	width: 15%;
	text-align: center;
}


/*
*
*
*/

@keyframes slidy {
0% { left: 0%; }
20% { left: 0%; }
25% { left: -100%; }
45% { left: -100%; }
50% { left: -200%; }
70% { left: -200%; }
75% { left: -300%; }
95% { left: -300%; }
100% { left: -400%; }
}

article#slider { overflow: hidden; 
width: 20%;
float:left;
margin-left: 40%;
margin-bottom: 2%}
article#slider figure img {
 width: 20%;
 max-height: 75px; float: left;
 }
article#slider figure { 
  position: relative;
  width: 500%;
  margin: 0;
  left: 0;
  text-align: left;
  font-size: 0;
  animation: 5s slidy infinite; 
  max-height: 200px;
}